<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
    <% todos.forEach(function(todo) { %>
      <li><b><%= todo.name %></b> - <%= todo.time %></li>
    <% }) %>
    </ul>
  </body>
</html>
