<!DOCTYPE html>
<html>
  <head>
    <title>XXX</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Greeting</h1>
    <p>Welcome to NodeJS</p>
  </body>
</html>
